.bordes-negros{

    margin-top: 10px; 
    padding: 10px;
    height: 90vh;

}

.margin-component{
    margin-top: 5px;
}

.map-container{
    /*height: 87vh;
    width: 100%;
    padding: 10px;*/
    background-color: #436fff9c;
}